{% extends '_exam.html.twig' %}

{% block actions %}
{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>Prüflinge hinzufügen</h1>
            <h2 class="h3 color-fg-accent">Stammdaten importieren</h2>
        </div>
        <span class="text-muted h4"></span>
    </div>
{% endblock %}

{% block page_content %}
    {% if file_content %}

    {% else %}

        <div class="mb-5">
            Laden Sie bei Bedarf die <a download="Vorlage - Datenimport der Kollegiaten.csv" href="{{ asset('uploads/Vorlage_Kollegiaten.csv') }}" class="">Vorlage</a> herunter. Beachten Sie bitte, dass Sie die Kopfzeile beibehalten. Als Trennzeichen verwenden Sie das <b>Semikolon</b>. Die Benennungen im Spaltenkopf dienen nur zur Orientierung, die Reihenfolge muss jedoch eingehalten werden.
        </div>

        {{ form_start(form,{'attr':{'class':'needs-validation','novalidate':'novaldiate'}}) }}

        <div class="form-group">
            <div class="form-group-header">
                {{ form_label(form.csv_file) }}
            </div>
            <div class="form-group-body">
                {{ form_widget(form.csv_file) }}
                <div class="invalid-feedback color-fg-danger my-2">
                    Bitte gültige CSV-Datei angeben.
                </div>
            </div>
        </div>

        <div class="form-group mt-5">
            <div class="form-group-body">
                <button type="submit" class="btn btn-outline mr-1">Überprüfen</button>
            </div>
        </div>

        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block page_footer %}
    {% if file_content %}
        <div  class="Box color-border-success-emphasis color-bg-success mx-auto border p-3 rounded-2 mb-5">
            <h3>Daten überprüfen und speichern</h3>
            <span>Bitte überprüfen Sie die erfassten Daten. Sollte alles korrekt sein, können Sie die neuen Daten speichern.</span>
            <span class="d-block">Vom System erkannte Fehler sind meist darauf zurückzuführen, dass die Kürzel der Fächer oder Tutoren inkorrekt sind oder noch nicht in der Datenbank hinterlegt wurden.</span>
        </div>
        <div class="mt-5">
            <table class="compact hovering" id="simple" data-page-length="25">
                <thead class="border-top">
                <tr class="border-bottom">
                    <th class=" text-left">Datensatz</th>
                    <th class=" text-left">Vorname</th>
                    <th class=" text-left">Name</th>
                    <th class=" text-left">Geburtsdatum</th>
                    <th class=" text-left">Abschlussjahr</th>
                    <th class=" text-left">Kursblock</th>
                    <th class=" text-left">LK 1</th>
                    <th class=" text-left">Punkte</th>
                    <th class=" text-left">LK 2</th>
                    <th class=" text-left">Punkte</th>
                    <th class=" text-left">GK 3</th>
                    <th class=" text-left">Punkte</th>
                    <th class=" text-left">GK 4</th>
                    <th class=" text-left">Punkte</th>
                    <th class=" text-left">5. PK</th>
                    <th class=" text-left">Punkte</th>
                    <th class=" text-left">Tutorium</th>
                </tr>
                </thead>
                <tbody>
                {% for row in file_content %}
                    <tr class="border-bottom">
                        <td class="">{{ loop.index }}</td>
                        {% for column in row %}
                            <td class="">{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <span><b>Importierte Datei:</b> {{ origin_file }}</span>
            <div class="d-flex flex-justify-between flex-items-end">
                <div class="d-flex flex-justify-start flex-items-center">
                    <form method="post" action="{{ url('app_data_import_persist') }}">

                        <div class="form-group mb-5">
                            <div class="form-group-header">
                                <label for="teachers">Tutorium zuordnen</label>
                            </div>
                            <div class="form-group-body">
                                <select id="teachers" class="form-select width-full" name="teacher">
                                    <option selected></option>
                                    {% for teacher in teachers %}
                                        <option value="{{ teacher.id }}">{{ teacher.lastname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <input type="hidden" name="data" value="{{ file }}">

                        <div class="form-group">
                            <div class="form-group-body">
                                <button type="submit" class="btn btn-outline mr-1">Daten speichern</button>
                                <a href="{{ url('app_data_import') }}" class="btn">Neue Datei erfassen</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}