{% extends '_admin.html.twig' %}

{% block body %}
    <div class="PageLayout">
        <div class="clearfix gutter">
            <div class="col-12 float-left">
                <div class="PageLayout-header mb-5">
                    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
                        <div>
                            <h1>Personenverzeichnis</h1>
                            <h3 class="color-fg-accent">Datensätze auflisten</h3>
                        </div>
                        <a href="{{ path('app_pupil_crud_new') }}" class="btn btn-outline">
                            <div class=" d-flex flex-items-center">
                                <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
                            </div>
                        </a>
                    </div>


                    <table class="compact hovering" id="pupils" data-page-length="25">
                        <thead class="border-top">
                        <tr class="border-bottom">
                            <th class=" text-left">Tutorium</th>
                            <th class=" text-left">Name</th>
                            <th class=" text-left">Vorname</th>
                            <th class=" text-right">Geburtsdatum</th>
                            <th class=" text-right">Abschlussjahr</th>
                            <th class=" text-right">Kursblock</th>
                            <th class=" text-right">Prüfungen</th>
                            <th class=" text-right">Gesamt</th>
                            <th class=" text-right">Aktion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pupil in pupils %}
                        <tr class="border-bottom">
                            <td class="">{{ pupil.teacher.lastname|default('- keine Zuordnung -') }}</td>
                            <th class=" text-left">
                                <a class="color-fg-default" href="{{ path('app_pupil_crud_show', {'id': pupil.id}) }}">
                                    {{ pupil.lastname }}
                                </a>
                            </th>
                            <td class="">{{ pupil.firstname }}</td>
                            <td class=" text-right">{{ pupil.birthDate|date('Y-m-d')|default('') }}</td>
                            <td class="text-right">{{ pupil.examDate|date('Y') }}</td>
                            <td class="text-right">{{ pupil.qualificationPoints|default('') }}</td>
                            {% set sum = 0 %}
                            {% for exam in pupil.exams %}
                                {% set sum = sum + exam.examPoints %}
                            {% endfor %}
                            <td class="text-right">{{ sum * 4 }}</td>
                            <td class="text-right">{{ sum * 4 + pupil.qualificationPoints }}</td>
                            <td class="d-flex flex-justify-end">
                                {{ include('pupil_crud/_action_form_pupil.html.twig') }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-7 float-left">
                <div class="PageLayout-content">
                    <a href="{{ path('app_pupil_crud_new') }}" class="btn btn-outline">
                        <div class=" d-flex flex-items-center">
                            <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-5 float-left">
                <div class="PageLayout-pane">

                </div>
            </div>
            <div class="col-12 float-left">
            </div>
        </div>
    </div>
{% endblock %}
