{% extends '_pupil.html.twig' %}

{% block page_header %}
<div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
    <div>
        <h1>{{ pupil }}</h1>
        <h2 class="h3 color-fg-accent">Abitur- und Zusatzprüfungen</h2>
    </div>
    <span class="text-muted h4">{{ pupil.teacher }}</span>
</div>
{% endblock %}

{% block page_content %}
    <div class="mb-5">
        <a href="{{ path('app_pupil_crud_exam_add',{'id':pupil.id}) }}" class="btn btn-outline">
            <div class=" d-flex flex-items-center">
                <i class="icon_pencil-edit mr-2"></i>Neue Prüfung
            </div>
        </a>
        <a href="{{ path('app_pupil_crud_index') }}" class="btn">
            <div class=" d-flex flex-items-center">
                <i class="bi bi-chevron-double-left mr-2"></i>Zurück zur Übersicht
            </div>
        </a>
    </div>

{% endblock %}

{% block page_footer %}


    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5 border-bottom">
        <div>
            <h3 class="h3">Punkte aus Qualifikationsphase</h3>
        </div>
        <span class="h3 color-fg-accent">{{ pupil.qualificationPoints }}</span>
    </div>

    <h3 class="h4 mb-3">Abgelegte Abiturprüfungen</h3>
    <div class="mb-3">
        <table class="compact hovering" id="simple">
            <thead>
            <tr>
                <th>Prüfung</th>
                <th>Fach</th>
                <th class="text-right">Notenpunkte (einfach)</th>
                <th class="text-right">Notenpunkte (vierfach)</th>
                <th class="text-right">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for exam in pupil.exams %}
                <tr>
                    <th class="text-left">{{ exam.examNumber }}</th>
                    <td>{{ exam.subject }}</td>
                    <td class="text-right">{{ exam.examPoints }}</td>
                    <td class="text-right">{{ exam.examPoints * 4 }}</td>
                    <td class="d-flex flex-justify-end"></td>
                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5 border-bottom">
        <div>
            <h3 class="h3">Punkte aus Prüfungsblock</h3>
        </div>
        <span class="h3 color-fg-accent">{{ examPoints }}</span>
    </div>
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap border-bottom">
        <div>
            <h3 class="h3">Gesamt</h3>
        </div>
        {% if pupil.exams.count == 5 %}
            <span class="h1 color-fg-accent">{{ pupil.qualificationPoints + examPoints }}</span>
            {% else %}
                <span class="h3 color-fg-attention">Prüfungen fehlen!</span>
        {% endif %}
    </div>
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5 border-bottom">
        <div>
            <h3 class="h3">Endnote</h3>
        </div>
        {% if pupil.exams.count == 5 %}
            <span class="h1 color-fg-accent">{{ grade }}</span>
            {% else %}
                <span class="h3 color-fg-attention">Prüfungen fehlen!</span>
        {% endif %}
    </div>

    <h3 class="h3 mb-3">Mögliche Zusatzprüfungen</h3>
    {% if pupil.exams.count == 5 %}
        <div class="mb-3">
            <table class="compact hovering" id="results">
                <thead>
                <tr>
                    <th>Prüfung</th>
                    <th>Fach</th>
                    <th class="text-right">Notwendig (einfach)</th>
                    <th class="text-right">Notwendig (kumuliert)</th>
                    <th class="text-right">Kritisch</th>
                    <th class="text-right">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for e_exam in extended_exams %}
                    <tr>
                        <th class="text-left">{{ e_exam.examNumber }}</th>
                        <td>{{ e_exam.subject }}</td>
                        <td class="text-right">{{ e_exam.neededExamPoints }}</td>
                        <td class="text-right">{{ ((e_exam.neededExamPoints2 * 2 + e_exam.neededExamPoints) / 3 * 4)|round }}</td>
                        <td class="text-right">{{ e_exam.criticalPoints|raw }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if extended_exams|length > 0 %}
            <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap border-bottom">
                <div>
                    <h3 class="h3">Gesamt nach Zusatzprüfung</h3>
                </div>
                <span class="h1 color-fg-accent">{{ diff }}</span>
            </div>
            <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5 border-bottom">
                <div>
                    <h3 class="h3">Neue Endnote</h3>
                </div>
                <span class="h1 color-fg-accent">{{ higherGrade }}</span>
            </div>
        {% endif %}
        {% else %}
        <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5 border-bottom">
            <span></span>
            <span class="h3 color-fg-attention">Prüfungen fehlen!</span>
        </div>
    {% endif %}
{% endblock %}