{% extends '_setup.html.twig' %}

{% block title %}Grade index{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>Punktetabellen</h1>
            <h3 class="color-fg-accent">Systemkonfiguration</h3>
        </div>
        <a href="{{ path('app_grade_new') }}" class="btn btn-outline">
            <div class=" d-flex flex-items-center">
                <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
            </div>
        </a>
    </div>
    <table class="compact hovering" id="example">
        <thead>
        <tr>
            <th class="text-right">{{ 'Grade'|trans }}</th>
            <th class="text-right">{{ 'Min'|trans }}</th>
            <th class="text-right">{{ 'Max'|trans }}</th>
            <th class="text-right">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td class="text-right">{{ grade.grade }}</td>
                <td class="text-right">{{ grade.min }}</td>
                <td class="text-right">{{ grade.max }}</td>
                <td class="d-flex flex-justify-end">
                    {{ include('grade/_action_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_content %}
    <a href="{{ path('app_grade_new') }}" class="btn btn-outline">
        <div class=" d-flex flex-items-center">
            <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
        </div>
    </a>
    <a href="#" class="btn">
        <div class=" d-flex flex-items-center">
            <i class="cil cil-cloud-upload mr-2"></i> Aus CSV importieren
        </div>
    </a>
{% endblock %}
