{% extends '_setup.html.twig' %}

{% block title %}Grade{% endblock %}

{% block page_header %}
    <h1>Grade</h1>

    <table class="compact hovering" id="example">
        <thead>
        <tr>
            <th>Schlüssel</th>
            <th>Wert</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ grade.id }}</td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>{{ grade.grade }}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>{{ grade.min }}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>{{ grade.max }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_grade_index') }}">back to list</a>

    <a href="{{ path('app_grade_edit', {'id': grade.id}) }}">edit</a>

    {{ include('grade/_action_form.html.twig') }}
{% endblock %}
