{% extends '_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block sidebar %}
    <div class="p-3">
        <h4>Entitäten</h4>
    </div>

    <div class="SideNav">
        <a href="{{ url('app_user_crud_index') }}" class="SideNav-item" aria-current="true">
            <i class="cil cil-user SideNav-icon"></i>
            Benutzerkonten
        </a>
        <a href="{{ url('app_teacher_crud_index') }}" class="SideNav-item">
            <i class="cil cil-school SideNav-icon"></i>
            Lehrkräfte
        </a>
        <a href="{{ url('app_grade_index') }}" class="SideNav-item">
            <i class="cil cil-excerpt SideNav-icon"></i>
            Punktetabellen
        </a>
    </div>
{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_crud_index') }}">back to list</a>

    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}">edit</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
