{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block local_nav %}
    <nav class="UnderlineNav UnderlineNav--full position-sticky top-0 color-bg-default" style="z-index: 999">
        <div class="container-lg UnderlineNav-container px-3">
            <div class="UnderlineNav-body">
                <a href="{{ url('app_pupil_crud_index') }}" class="UnderlineNav-item" {{ local_nav == 'pupil' ? 'aria-current="true"' : '' }}><i class="cil-group mr-1"></i>Prüflinge</a>
                <a class="UnderlineNav-item" {{ local_nav == 'exam' ? 'aria-current="true"' : '' }}><i class="cil-school mr-1"></i>Prüfungen</a>
                <a class="UnderlineNav-item"><i class="cil-library-add mr-1"></i>Import</a>
                <a class="UnderlineNav-item"><i class="cil-cloud-download mr-1"></i>Export</a>
            </div>
            <div class="UnderlineNav-actions">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('app_setup') }}" {{ local_nav == 'settings' ? 'aria-current="true"' : '' }} class="UnderlineNav-item">
                            <i class="cil-settings mr-1"></i>Administration
                        </a>
                    {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}