<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}Abi-Rechner | Treptow-Kolleg Berlin{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% endblock %}
    </head>
    <body>

    <div class="AppFrame-main pb-5" style="height: 100%">
            <div class="AppFrame-header-wrapper">
                <div class="AppFrame-header color-bg-emphasis color-fg-on-emphasis">
                    {% block header %}
                        {{ include('base/header.html.twig') }}
                    {% endblock %}
                </div>
                <div class="AppFrame-subheader">
                    {% block subheader %}{% endblock %}
                </div>
            </div>
            <div class="AppFrame-body" style="height: 100%">
                {% block local_nav %}{% endblock %}
                <div class="Layout Layout--sidebar-wide" style="height: 100%">
                    <div class="Layout-main">
                        <div class="pb-12 px-3 pl-md-0 pr-md-5 mt-2">

                            {% for label, messages in app.flashes %}
                                    <div class="Toast Toast--{{ label }}" id="toast" style="position: fixed; left: 50%; top: 3rem; z-index: 12000; transform: translate(-50%, -50%);">
                                <span class="Toast-icon">
                                    <i class="bi bi-exclamation-diamond"></i>
                                </span>
                                        <span class="Toast-content">
                                    {% for message in messages %}
                                    <div class="d-block my-1">{{ message }}</div>
                                    {% endfor %}
                                </span>
                                        <button id="dismiss" class="Toast-dismissButton">
                                            <svg width="12"
                                                 height="16"
                                                 viewBox="0 0 12 16"
                                                 class="octicon octicon-x"
                                                 aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                      d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75
                                             3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6
                                             6.52l3.75-3.75 1.48 1.48L7.48 8z"
                                                />
                                            </svg>
                                        </button>
                                    </div>
                            {% endfor %}


                            {% block body %}{% endblock %}
                        </div>
                    </div>
                    <div class="Layout-sidebar color-bg-inset border-right" style="height: 100%">
                        <div class="stick-to-top mb-12">
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>

            </div>
            {% block footer %}
                <div class="AppFrame-footer color-bg-inset border-top">
                    <div class="p-3">
                        {% set year_now = 'now'|date('Y') %}
                        {% if year_now == 2023 %}
                            &copy;2023 - Benjamin Wagner | im Auftrag des Treptow-Kollegs Berlin
                        {% else %}
                            &copy;2023-{{ year_now}} - Benjamin Wagner | im Auftrag des Treptow-Kollegs Berlin
                        {% endif %}
                        <a href="https://treptow-kolleg.de/impressum" class="ml-2" target="_blank">Impressum</a>
                        <a href="https://treptow-kolleg.de/datenschutz" class="ml-2" target="_blank">Datenschutz</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
