{{ form_start(form,{'attr':{'class':'needs-validation','novalidate':'novaldiate'}}) }}

<div class="form-group">
    <div class="form-group-header">
        {{ form_label(form.firstname,form.firstname,{'label_attr': {'class':'required'} }) }}
    </div>
    <div class="form-group-body">
        {{ form_widget(form.firstname,{'attr': {'class':'form-control width-full'} }) }}
        <div class="invalid-feedback color-fg-danger my-2">
            Bitte Vornamen der Lehrkraft angeben.
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-group-header">
        {{ form_label(form.lastname,form.lastname,{'label_attr': {'class':'required'} }) }}
    </div>
    <div class="form-group-body">
        {{ form_widget(form.lastname,{'attr': {'class':'form-control width-full'} }) }}
        <div class="invalid-feedback color-fg-danger my-2">
            Bitte Nachnamen der Lehrkraft angeben.
        </div>
    </div>
</div>
<div class="form-group mt-5">
    <div class="form-group-body">
        <button class="btn btn-outline mr-2">{{ button_label|default('Speichern') }}</button>
        <a class="btn" href="{{ path('app_teacher_crud_index') }}">Zurück zur Übersicht</a>
    </div>
</div>
{{ form_end(form) }}
