{% extends '_setup.html.twig' %}

{% block title %}Lehrkräfte - Übersicht{% endblock %}

{% block page_header %}
    <div class=" d-flex flex-justify-between flex-items-baseline flex-wrap mb-5">
        <div>
            <h1>Lehrkräfte / Tutorium</h1>
            <h3 class="color-fg-accent">Systemkonfiguration</h3>
        </div>
        <a href="{{ path('app_teacher_crud_new') }}" class="btn btn-outline">
            <div class=" d-flex flex-items-center">
                <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
            </div>
        </a>
    </div>

    <table class="compact hovering" id="example">
        <thead>
        <tr>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>{{ 'Abbreviation'|trans }}</th>
            <th class="text-right">Lernende</th>
            <th class="text-right">Aktion</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <th scope="row" class="text-left">{{ teacher.lastname }}</th>
                <td>{{ teacher.firstname }}</td>
                <td>{{ teacher.abbreviation }}</td>
                <td class="text-right">{{ teacher.pupils.count }}</td>
                <td class="d-flex flex-justify-end">
                    {{ include('teacher_crud/_action_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Keine Einträge vorhanden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_content %}
    <a href="{{ path('app_teacher_crud_new') }}" class="btn btn-outline">
        <div class=" d-flex flex-items-center">
            <i class="icon_pencil-edit mr-2"></i> Neuer Datensatz
        </div>
    </a>
    <a href="#" class="btn">
        <div class=" d-flex flex-items-center">
            <i class="cil cil-cloud-upload mr-2"></i> Aus CSV importieren
        </div>
    </a>
{% endblock %}
